* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//----------Joint css----------
button {
  background-color: cornflowerblue;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
input {
  outline: none;
}
header {
  form {
    input {
      height: 26px;
      padding: 0 0.5rem;
      outline: none;
      border-radius: 4px;
      border: 1px solid #c1c1c1;
    }
  }
}
a {
  text-decoration: none;
  color: #333;
}
h1,
h2,
h3,
h4,
h5 {
  color: #222;
}
//----------Header css------------
header {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  z-index: 11;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px rgba(154, 168, 179, 0.2);
  .logo {
    width: 20%;
    font-size: 2rem;
    font-weight: 700;
  }
  .input-search {
    display: flex;
    width: 90rem;
    button:nth-child(1) {
      width: 20%;
      margin-right: 0.6rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    form {
      width: 80%;
      display: flex;
      input:nth-child(1) {
        width: 60%;
        border-radius: 4px 0 0 4px;
      }
      input:nth-child(2) {
        width: 40%;
        border-radius: 0 4px 4px 0;
      }
    }
  }
  .user {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
      height: 26px;
      width: 60px;
    }
    button:nth-child(2) {
      margin-left: 0.3rem;
      width: 160px;
    }
    .post-add {
      background-color: #fff;
      color: #333;
      font-size: 0.9rem;
      width: 200px;
      a {
        display: flex;
        align-items: center;
        justify-content: space-around;
        svg {
          color: cornflowerblue;
          transform: scale(2);
          border-radius: 10px;
        }
      }
    }
    .user-profile {
      background-color: #fff;
      color: #333;
      font-size: 1rem;
      font-weight: 600;
      height: 26px;
      width: 16vw;
    }
  }
}
//----Modal form author-----
.form-author {
  position: absolute;
  width: 400px;
  height: 360px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 60px;
  right: 0;
  box-shadow: -9px 11px 11px 0px rgba(34, 60, 80, 0.07);
  h1 {
    text-align: center;
    font-size: 3rem;
    span {
      color: cornflowerblue;
      font-size: 0.9rem;
      margin-left: 0.6rem;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    align-items: center;
    input {
      height: 40px;
      margin-bottom: 0.4rem;
      border: none;
      border: 1px solid #999;
      border-radius: 4px;
      width: 100%;
    }
    button {
      height: 30px;
      background-color: #476191;
      width: 50%;
      margin-top: 1rem;
    }
  }
}
.user-funct {
  position: absolute;
  width: 13rem;
  height: 100px;
  background-color: #fff;
  top: 60px;
  right: 5%;
  display: flex;
  flex-direction: column;
  button {
    height: 100%;
    background-color: #fff;
    color: #333;
    border-radius: 0;
    &:hover {
      background-color: cornflowerblue;
      color: #fff;
    }
    &:hover a {
      background-color: cornflowerblue;
      color: #fff;
    }
  }
}
.categories-form {
  position: absolute;
  width: 500px;
  height: 300px;
  background-color: #fff;
  top: 60px;
  left: 0;
}

//-----Main css-------
main {
  width: 100%;
  min-height: 100vh;
  background-color: #f2f4f7;
  padding: 6rem 2rem;
  .title-section {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    h2 {
      font-size: 1.7rem;
    }
  }
  .new-post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 0.4fr));
    gap: 1.5rem;
    .item-post {
      position: relative;
      cursor: pointer;
      height: 300px;
      background-color: #fff;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 0px 4px 20px 0px rgb(155 163 169 / 20%);

      &:hover {
        box-shadow: 0px 0px 0px 2px rgb(41, 127, 177);
      }
      .img-block {
        height: 60%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .text-block {
        height: 40%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h2 {
          font-size: 1.25rem;
        }
        p:nth-child(2) {
          font-size: 1.2rem;
        }
        p:nth-child(3) {
          color: #320b6e;
          font-size: 0.9rem;
        }
      }
      .city {
        position: absolute;
        top: 0;
        background-color: #ffffffbd;
        padding: 0.3rem 0.7rem;
        font-size: 0.9rem;
      }
    }
  }
  .form-add-post {
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 0 6rem;
      input[type="text"]:nth-child(1) {
        width: 50%;
        margin: 5rem 0;
        padding: 0.6rem;
      }
      textarea {
        resize: none;
        width: 100%;
        min-height: 200px;
        margin: 1rem 0;
        padding: 0.6rem;
      }
      div {
        display: flex;
        width: 100%;
        position: relative;
        input {
          padding: 0.6rem;
          width: 20%;
          margin-right: 1rem;
        }
        button {
          width: 200px;
          height: 100%;
          position: absolute;
          right: 0;
        }
      }
      input {
        width: 100%;
      }
    }
  }
  .post-page {
    width: 100%;
    min-height: 80vh;
    background-color: #fff;
    display: flex;
    .post-info {
      width: 70%;
      .post-img {
        width: 100%;
        height: 80%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .post-buy {
      width: 30%;
    }
  }
}
