* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: cornflowerblue;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

input {
  outline: none;
}

header form input {
  height: 26px;
  padding: 0 0.5rem;
  outline: none;
  border-radius: 4px;
  border: 1px solid #c1c1c1;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3,
h4,
h5 {
  color: #222;
}

header {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  z-index: 11;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px rgba(154, 168, 179, 0.2);
}
header .logo {
  width: 20%;
  font-size: 1.4rem;
  font-weight: 700;
}
header .input-search {
  display: flex;
  width: 90rem;
}
header .input-search button:nth-child(1) {
  width: 20%;
  margin-right: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .input-search form {
  width: 80%;
  display: flex;
}
header .input-search form input:nth-child(1) {
  width: 60%;
  border-radius: 4px 0 0 4px;
}
header .input-search form input:nth-child(2) {
  width: 40%;
  border-radius: 0 4px 4px 0;
}
header .user {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
header .user button {
  height: 26px;
  width: 60px;
}
header .user button:nth-child(2) {
  margin-left: 0.3rem;
  width: 160px;
}
header .user .post-add {
  background-color: #fff;
  color: #333;
  font-size: 0.9rem;
}
header .user .post-add a {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .user .post-add a svg {
  color: cornflowerblue;
  transform: scale(1.7);
}
header .user .user-profile {
  background-color: #fff;
  color: #333;
  font-size: 1rem;
  font-weight: 600;
  height: 26px;
  width: 16vw;
}

.form-author {
  position: absolute;
  width: 400px;
  height: 360px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 60px;
  right: 0;
}
.form-author h1 {
  text-align: center;
  font-size: 3rem;
}
.form-author h1 span {
  color: cornflowerblue;
  font-size: 0.9rem;
  margin-left: 0.6rem;
}
.form-author form {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  align-items: center;
}
.form-author form input {
  height: 40px;
  margin-bottom: 0.4rem;
  border: none;
  border: 1px solid #999;
  border-radius: 4px;
  width: 100%;
}
.form-author form button {
  height: 30px;
  background-color: #476191;
  width: 50%;
  margin-top: 1rem;
}

.user-funct {
  position: absolute;
  width: 13rem;
  height: 100px;
  background-color: #fff;
  top: 60px;
  right: 5%;
  display: flex;
  flex-direction: column;
}
.user-funct button {
  height: 100%;
  background-color: #fff;
  color: #333;
  border-radius: 0;
}

.categories-form {
  position: absolute;
  width: 500px;
  height: 300px;
  background-color: #fff;
  top: 60px;
  left: 0;
}

main {
  width: 100%;
  min-height: 100vh;
  background-color: #f2f4f7;
  padding: 6rem 2rem;
}
main .title-section {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 2rem 0;
}
main .title-section h2 {
  font-size: 2rem;
}
main .new-post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 0.4fr));
  gap: 1.5rem;
}
main .new-post .item-post {
  height: 300px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 4px 20px 0px rgba(155, 163, 169, 0.2);
}
main .new-post .item-post .img-block {
  height: 60%;
}
main .new-post .item-post .img-block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .new-post .item-post .text-block {
  height: 40%;
  padding: 1rem;
}
main .new-post .item-post .text-block h2 {
  font-size: 1.25rem;
}
main .new-post .item-post .text-block p:nth-child(1) {
  color: cornflowerblue;
}
main .new-post .item-post .text-block p:nth-child(3) {
  color: #666;
}/*# sourceMappingURL=style.css.map */